/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  --bg-primary: #FAFAFA;
  --text-primary: #020202;
} */



/* Colores para el modo oscuro */
/* .dark {
  --bg-primary: #020202;
  --text-primary: #FAFAFA;
}

.light {
    --bg-primary: #FAFAFA;
    --text-primary: #020202;
} */





